@using MuzikAkademisi.Entities.Model
@model Odev
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<html>
<head>
</head>
<body>

    <div style="width:1860px; height:800px; ">
        

    <div style="width: 1860px; height: 800px; background-color: palevioletred; margin: 20px; border-style: solid; font-family:Cambria; font-size:20px; ">
        <div style="width:500px; height:500px;"><img src="@ViewBag.OdevResim" width="500px" height="300px" />
        <p><b> ÖDEV ADI: @ViewBag.OdevAdi</b></p>
        <p><b>NOT: @ViewBag.Not</b></p>
        </div>

    </div>



    </div>

</body>
</html>



