
@{
    Layout = null;
}
<!--sabit kalanlar-->
<html>
<head>
    <link rel=”stylesheet” type=”text/css” href=”style.css” />
</head>
<body style="margin:0; padding:0;">

    <!--navbar-->

    <ul style=" list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: palevioletred; height: 100px; width: 100%; color:white; font-weight:bold;">
        <li style=" background-color: palevioletred; display: inline-block;"><a href="#index" style=" display: block; color: black; padding: 0px 30px; text-align: left; text-decoration: none; font-size: 30px;">MUSIC <br /> ACADEMY</a></li>
        <li style="display: inline-block;"><a href="/Home/Index/" style=" display: block; color: black; padding: 0px 10px 14px 900px; text-decoration: none; font-size: 20px;">ANASAYFA</a></li>

        <li style="display: inline-block;">
            <a href="/Magaza/Index/" style=" display: block; color: black; padding: 14px 30px 14px 30px; text-decoration: none; font-size: 20px; "><b>MAĞAZA</b></a>
            <!--
                       <ul style="background-color:white; display: block; position: absolute; width: 100px;">

                    <li style="display:block;"><a class="gitar" href="#gitar" style=" display: block; color: black; text-align: center; padding: 14px 0px 14px 0px; text-decoration: none;">GİTARLAR</a></li>

                    <li style="display:block;"><a href="#piyano" style=" display: block; color: black; text-align: center; padding: 14px 0px 14px 0px; text-decoration: none;">PİYANOLAR</a></li>

                    <li style="display:block;"><a href="#baglama" style=" display: block; color: black; text-align: center; padding: 14px 16px 14px 0px; text-decoration: none;">BAĞLAMALAR</a></li>

                    <li style="display:block;"><a href="#keman" style=" display: block; color: black; text-align: center; padding: 14px 16px 14px 0px; text-decoration: none;">KEMANLAR</a></li>

                    <li style="display:block;"><a href="#uflemeli" style=" display: block; color: black; text-align: center; padding: 14px 16px 14px 0px; text-decoration: none;">ÜFLEMELİLER</a></li>

                    <li style="display:block;"><a href="#tulsu" style=" display: block; color: black; text-align: center; padding: 14px 16px 14px 0px; text-decoration: none;">TUŞLULAR</a></li>

                    <li style="display:block;"><a href="#yayli" style=" display: block; color: black; text-align: center; padding: 14px 16px 14px 0px; text-decoration: none;">YAYLILAR</a></li>

                    <li style="display:block;"><a href="#vurmali" style=" display: block; color: black; text-align: center; padding: 14px 16px 14px 0px; text-decoration: none;">VURMALILAR</a></li>
                </ul>
            -->


        </li>



        <li style="display: inline-block;"><a href="/Odev/Index/" style=" display: block; color: black; padding: 14px 30px 14px 30px; text-decoration: none; font-size: 20px; ">ÖDEVLER</a></li>

        <li style="display: inline-block;">
            <a href="/Kurs/Index/" style=" display: block; color: black; padding: 14px 30px 14px 30px; text-decoration: none; font-size: 20px; ">KURSLAR</a>
            <!--
                       <ul style="background-color:white; display: block; position: absolute; width: 100px">

                <li style="display:block;"><a href="#gitar" style=" display: block; color: black; text-align: center;  text-decoration: none;">GİTAR</a></li>

                <li style="display:block;"><a href="#piyano" style=" display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none;">PİYANO</a></li>

                <li style="display:block;"><a href="#baglama" style=" display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none;">BAĞLAMA</a></li>

                <li style="display:block;"><a href="#keman" style=" display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none;">KEMAN</a></li>

                <li style="display:block;"><a href="#uflemeli" style=" display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none;">ÜFLEMELİ</a></li>

                <li style="display:block;"><a href="#tuslu" style=" display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none;">TUŞLU</a></li>

                <li style="display:block;"><a href="#yayli" style=" display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none;">YAYLI</a></li>

                <li style="display:block;"><a href="#vurmali" style=" display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none;">VURMALI</a></li>
            </ul>
            -->

        </li>

        <li style="display: inline-block;"><a href="/Profil/Index/" style=" display: block; color: black; padding: 14px 0px 14px 30px; text-decoration: none; font-size: 20px;">PROFİLİM</a></li>
    </ul>
    @RenderBody()
    <!--chat-->
    <!--<div style="width:400px; height:30px; background-color:palevioletred; margin:0 20px 20px 1500px; padding-top:20px; text-align:center; border-radius:10px;">CHAT</div>-->
</body>
</html>
