@using MuzikAkademisi.Entities.Model
@model List<MuzikAleti>
@{ ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_AnasayfaLayout.cshtml"; 
 }

<html>
<head>
    <style>
        #btn {
            background-color: white;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-style: solid;
            border-radius: 10px;
            margin-left: 20px;
            border-style: solid;
        }

        #ekle {
            background-color: palevioletred;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 5px 1700px;
            border-style: solid;
            border-radius: 10px;
        }
    </style>

    <script>
        /*const { Alert } = require("bootstrap");*/



        window.onload = function gizle() {
            var bilgiYetki = document.getElementById("yetkiBilgi").value;
            var buton = document.getElementsByClassName("btn");
            var arrFromsList = Array.prototype.slice.call(buton);

            if (bilgiYetki == "K") {
                

                for (var i = 0; i <= arrFromsList.length; i++) {

                    arrFromsList[i].style.display = "none";

                }
                alert("Kullanıcı sisteme giriş yaptı.")
            }
            else {

                Alert("Admin sisteme giriş yaptı.")


            };


        }

    </script>

</head>
<body>
    <a id="ekle" class="btn" href="/Magaza/Ekle/"> Ekle </a>
    <a id="ekle" href="/Sepet/Index/">Sepet</a>

    <div style="width:400px; height:400px;  ">
        @foreach (var mzk in Model)
        {
        <div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px; border-style: solid; ">
            <a href="Magaza/Guncelle/@mzk.MuzikAletiFotograf"><img src="@mzk.MuzikAletiFotograf" style="width: 400px; height: 150px; " /></a>
            <p><b>@mzk.MuzikAletiAciklama</b></p>
            <p><b>@mzk.MuzikAletiFiyat</b></p>

            <a id="btn" class="btn" href="/Magaza/Sil/@mzk.MuzikAletiId"> Sil </a>
            <a id="btn" class="btn" href="/Magaza/Guncelle/@mzk.MuzikAletiId"> Güncelle </a>
            <a id="btn" href="/Sepet/Ekle2/@mzk.MuzikAletiId"> Sepete Ekle</a>
        </div>
        }


    </div>

    <button id="yetkiBilgi" value="@Session["yetki"].ToString()"></button>
</body>
</html>