@using MuzikAkademisi.Entities.Model
@model List<MuzikAleti>
@{ ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_AnasayfaLayout.cshtml"; 
 }

<html>
<head>
    <style>
        #btn {
            background-color: white;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            
            border-radius: 10px;
        }
        #ekle {
            background-color:palevioletred;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 30px 1700px;
            border-radius:10px;
        }
    </style>
</head>
<body>
    <a id="ekle" href="/Magaza/Ekle/"> Ekle </a>

    <div style="width:350px; height:350px; background-color:palevioletred; margin:20px 20px; ">
        @foreach (var mzk in Model)
        {
    <div style="width:350px; height:350px; background-color:palevioletred; margin:20px ; ">
        <a href="Magaza/Guncelle/@mzk.MuzikAletiFotograf"><img src="@mzk.MuzikAletiFotograf" style="width: 330px; height: 150px; " /></a>
        <p><b>@mzk.MuzikAletiAciklama</b></p>
        <p><b>@mzk.MuzikAletiFiyat</b></p>

        <a id="btn" href="/Magaza/Sil/@mzk.MuzikAletiId"> Sil </a>
        <a id="btn" href="/Magaza/Guncelle/@mzk.MuzikAletiId"> Güncelle </a>
        </div>
        }


    </div>
</body>
</html>