@using MuzikAkademisi.Entities.Model
@model List<UyeMuzikAletiKurs>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<html>
<head>
</head>
<body>

    <div style="margin:50px 50px; font-size:20px;"><b>~AKTİF OLARAK ALINAN KURSLAR~</b></div>
    <div style="width:400px; height:400px; ">

        @foreach (var krs in Model)
        {
<div style="width: 400px; height: 350px; background-color: palevioletred; margin: 20px 20px; border-style: solid;">
    <a href="#"><img src="@krs.Kurs.KursFotograf" style="width:330px; height:150px; " /></a>
    <p><b>KURS ADI: @krs.Kurs.KursAdi</b></p>


</div>
       


    }
    </div> 
    
    
      <div style="margin:50px 50px; font-size:20px;"><b>~ ALINAN MÜZİK ALETLERİ~</b></div>
      <div style="width:400px; height:400px;">

          @foreach (var mzk in Model)
          {
              
              <div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px 20px; border-style: solid; ">
                      <a href="#"><img src="@mzk.MuzikAleti.MuzikAletiFotograf" style="width:330px; height:150px; " /></a>
                      <p><b> @mzk.MuzikAleti.MuzikAletiAciklama</b></p>


                  </div>  
          }



      </div>


    


</body>
</html>

