@using MuzikAkademisi.Entities.Model
@model List<MuzikAleti>
@{
    ViewBag.Title = "MuzikAleti";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}
<html>
<head>
    <style>
        #btn {
            background-color: white;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div style="margin:50px 50px; font-size:20px;"><b>~ÖDEME~</b></div>
    <div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px 20px; ">
        @foreach (var mzk in Model)
        {
<div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px 20px;  ">
    <a href="MuzikAleti/Guncelle/@mzk.MuzikAletiId"><img src="@mzk.MuzikAletiFotograf" style="width:380px; height:150px; " /></a>
    <p><b>@mzk.MuzikAletiAciklama</b></p>
    <p><b> @mzk.MuzikAletiFiyat</b></p>
    <p><b>IBAN: TR66543212542125752424242 </b></p>


    <a id="btn" href="/Profil/MuzikAleti/@mzk.MuzikAletiId"> Ödemeyi Onayla </a>

    <a id="btn" href="/Sepet/Sill/@mzk.MuzikAletiId"> Sil </a>
</div>}
    </div>
</body>
</html>

