@using MuzikAkademisi.Entities.Model
@model List<Kurs>

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_AnasayfaLayout.cshtml"; }
<html>
<head>
    <style>
        #btn {
            background-color: white;
            border: none;
            color: black;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
            border-style: solid;
            margin-left: 3px;
            border-style: solid;
        }

        #ekle {
            background-color: palevioletred;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            float: right;
            margin: 10px 5px;
            border-style: solid;
            border-radius: 10px;
        }

        .kapsayici {
            margin-top: 100px;
            width: auto;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
           
        }
    </style>

    <script>
/*const { Alert } = require("bootstrap");*/



        window.onload = function gizle() {
            var bilgiYetki = document.getElementById("yetkiBilgi").value;
            var buton = document.getElementsByClassName("btn");
            var arrFromsList = Array.prototype.slice.call(buton);

            if (bilgiYetki == "E" || bilgiYetki == "O") {

             

                for (var i = 0; i <= arrFromsList.length; i++) {

                    arrFromsList[i].style.display = "none";

                }



                if (bilgiYetki == "E") {

                    document.getElementsByClassName("btn2").style.display = "display";
                }

                else {

                    document.getElementsByClassName("btn2").style.display = "none";
                }
                alert("Kullanıcı sisteme giriş yaptı.");
            }
            else {

                alert("Admin sisteme giriş yaptı.");


            };


        }

    </script>
</head>
<body>
    <a id="ekle" class="btn" href="/Kurs/Ekle/">Kurs Ekle</a>
    <a id="ekle" href="/Sepet/Index/">Sepet</a>
    <div class="kapsayici">
        @foreach (var krs in Model)
        {
    <div class="container" style="width: 500px; height: 500px;  ">
        <div style="width: 400px; height: 400px;   ">
    <div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px 20px; border-style: solid; border-radius: 20px;">
        <a href="Kurs/Guncelle/@krs.KursId"><img src="@krs.KursFotograf" style="width: 400px; height: 150px; border-radius: 17px;" /></a>
        <p><b>KURS ADI: @krs.KursAdi</b></p>
        <p><b>FİYAT: @krs.KursFiyat</b></p>

        <div style="width:400px; height:200px; margin-top:40px; ">
            <a id="btn" class="btn" href="/Kurs/Sil/@krs.KursId"> Sil </a>
            <a id="btn" class="btn" href="/Kurs/Guncelle/@krs.KursId"> Güncelle </a>
            <a id="btn" class="btn2" href="/Uye/Index/@krs.KursId"> Üye Listele </a>
            <a id="btn" href="/Sepet/Ekle/@krs.KursId"> Sepete Ekle</a>
        </div>

    </div>
        </div>
    </div>}
  <button style="display:none;"  id="yetkiBilgi" value="@Session["yetki"].ToString()"></button>
        </div>
                 
</body>
</html>

