@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}
<html>
<head>
    <link rel=”stylesheet” type=”text/css” href=”style.css” />
</head>
<body style="margin:0; padding:0;">


    <!--fotoğraf-->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="margin-bottom:500px;">
                <img src="~/Content/Multiple-Instruments.jpg" class="d-block w-100" alt="..." style="width:100%; height:800px;"/>



                <div style=" width:500px; height:600px; position:absolute;">
                    <div style="width:400px; height:50px; background-color:palevioletred; margin:100px 20px 20px 50px; padding-top:20px; text-align:center; font-size:20px;"><b>DUYURULAR</b></div>
                    <div style="width: 400px; height: 50px; background-color: palevioletred; margin: 0 20px 20px 50px; padding-top: 20px; text-align: center;">- YENİ KURS DUYURULARI</div>
                    <div style="width: 400px; height: 50px; background-color: palevioletred; margin: 0 20px 20px 50px; padding-top: 20px; text-align: center;">- YENİ SATIŞ İLANLARI</div>
                    <div style="width: 400px; height: 50px; background-color: palevioletred; margin: 0 20px 20px 50px; padding-top: 20px; text-align: center;">......</div>
                    <div style="width: 400px; height: 50px; background-color: palevioletred; margin: 0 20px 20px 50px; padding-top: 20px; text-align: center;">......</div>
                    <div style="width: 400px; height: 50px; background-color: palevioletred; margin: 0 20px 20px 50px; padding-top: 20px; text-align: center;">......</div>
                    <div style="width: 400px; height: 50px; background-color: palevioletred; margin: 0 20px 20px 50px; padding-top: 20px; text-align: center;">......</div>
                    <div style="width: 400px; height: 50px; background-color: palevioletred; margin: 0 20px 20px 50px; padding-top: 20px; text-align: center;">......</div>
                </div>

                <div style="width:1000px; height:500px; background-color:palevioletred; margin:200px 180px auto auto;">
                    <table style=" height:500px; background-color:palevioletred" align="center" cellpadding="20">


                        <tr>
                            <th>PAZARTESİ</th>
                            <th>SALI</th>
                            <th>ÇARŞAMBA</th>
                            <th>PERŞEMBE</th>
                            <th>CUMA</th>
                            <th>CUMARTESİ</th>
                            <th>PAZAR</th>
                        </tr>
                        <tr>

                            <td></td>
                            <td>09:00 <br /> Piyano Kursu</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>09:00 <br /> Bağlama Kursu </td>
                            <td></td>

                        </tr>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td>12:00 <br /> Gitar Kursu </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td>16:00 <br /> Keman Kursu </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </table>

                </div>

            </div>
        </div>
    </div>


</body>
</html>