@using MuzikAkademisi.Entities.Model
@model List<Uye>
@{ ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_AnasayfaLayout.cshtml"; 
    }
<html>
<head>
    <style>
        #islem {
            background-color: palevioletred;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 5px;
            border-radius: 10px;
        }
    </style>

    <script>/*const { Alert } = require("bootstrap");*/



        window.onload = function gizle() {
            var bilgiYetki = document.getElementById("yetkiBilgi").value;
            var buton = document.getElementsByClassName("btn");
            var arrFromsList = Array.prototype.slice.call(buton);

            if (bilgiYetki == "O") {


                for (var i = 0; i <= arrFromsList.length; i++) {

                    arrFromsList[i].style.display = "none";

                }
                alert("Kullanıcı sisteme giriş yaptı.");
            }
            else {

                alert("Admin sisteme giriş yaptı.");


            };


        }</script>

</head>
<body>
    <div style="font-family:'Century Gothic'">

        <div style="text-align: center; color: black; background-color: palevioletred;margin-bottom:5px">
            <h2><b> ÜYELER </b></h2>
        </div>

        <table class="table table-bordered" style=" text-align: center; padding:10px 20px;">
            <thead style=" color: black; background-color: palevioletred;">
                <tr>
                    <th style="padding: 10px 210px 10px 210px;">ID</th>
                    <th style="padding: 10px 210px 10px 210px;">ÜYE ADI</th>
                    <th style="padding: 10px 210px 10px 210px;">ÜYE SOYADI</th>
                    <th style="padding: 10px 210px 10px 210px;">İŞLEM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Uye uye in Model)
                {
                    
    <tr>

        <th>@uye.UyeId</th>
        <th>@uye.UyeAdi</th>
        <th>@uye.UyeSoyadi</th>
        <th>
            <a id="islem" class="btn" href="/Uye/Sil/@uye.UyeId">Sil</a>&nbsp;
            <a id="islem" class="btn" href="/Uye/Guncelle/@uye.UyeId">Güncelle</a>
        </th>
    </tr>}
            </tbody>
        </table>
    </div>
</body>
</html>


